*{
    margin: 0;
    padding: 0;
}


.navbar {
  background-color: #007D9C;
  border-bottom: solid 1px rgba(151, 151, 151, 0.688);
  height: 3.6rem;
}

.top-left img {
    width: 70px;
}

.nav-button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

  
  /* .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky
      pointer-events: none;
  } 
  */

  .nav-drop-first{
    width: 250px;
    font-size: 15px;
  }
  .nav-drop-first a{
    color: #007D9C;
    text-decoration: none;
  }
 
  .nav-drop-first li:hover {
    text-decoration: underline #007D9C;
    background-color: white;
  }
  .nav-drop-first a:hover {
    text-decoration: underline #007D9C;
  }

  .nav-drop-second{
    width: 350px;
    font-size: 15px;
  }
  .nav-drop-second a{
    color: #007D9C;
    text-decoration: none;
  }
  .nav-drop-second a:hover {
    text-decoration: underline #007D9C;
  }


  .nav-drop-third{
    width: 350px;
    font-size: 15px;
  }
  .nav-drop-third a{
    color: #007D9C;
    text-decoration: none;
  }
  .nav-drop-third a:hover {
    text-decoration: underline #007D9C;
  }

  .test2{
    margin-left: -200px;
  }

  /* for text colgrou */
  .txt-color {
    color: white;
  }
/* test */

  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 55%;
        height: 100%;
        
    }

   

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

.navbar{
  /*   z-index should be above .close-navbar-toggler */
    z-index:2;
  }
  .navbar-collapse{
    height: 100%;
    z-index:1;
    cursor:pointer;
  }
  .navbar-collapse .collapse{
    z-index:-1;
  }


  /* first section */

  .section1 {
    background-color: #007D9C;
  }

  .sec1-image img{
    width: 100px;
  }

  .sec1-download a{
    color: white;
  }

  .btn-first {
    height: 40px;
  }
  
  /* to control image, button and height of the section */
  @media  (max-width: 766px) {
    .section1 {
       height: max-content;
    }
  }

  @media (max-width:464px){
    .btn-first{
      font-size: 12px;
      width: 100px;
      height: 40px;
    }
  }

  @media (min-width: 766px){
    
    .sec1-image {
      margin-top: -200px;
      
    }
    .sec1-image img {
      width: 190px;
    }
    .section1 {
      height: 660px;
   }
  }

  @media  (min-width:1024px){
    .section1 {
      height: 600px;
   }
  }
 

/* second section */
.section2 {
  background-color: #FFFFFF;
  height: max-content;
  padding-bottom: 4rem;
}

.companies img {
  width: 120px;
  height: 80px;
}


/* section3 */

.section3 {
  background-color: #F8F8F8;
  height: 300px;
}

.scroll-button {
  width: 35px; 
  height:35px;
}

.first-text {
  
  height: 200px;
}

/* secton4 */

.section4 {
  height: 600px;
}

.playground-1 {
  background-color: #FFFFDD;
  height: 200px;
}
.playground-2{
  height: 100px;
}

.play-down{
  height: 90px;
}
.play-left select {
  background-color: white;
  height: 36px;
  border: #b7b7b7 1px solid;
  border-radius: 3px;
}
.play-right .play-btn1,.play-btn2{
  text-align: center;
  color: #007D9C;
  width: 70px;
  height: 35px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.371);
}
.play-right .play-btn1{
  background-color: #FFFFDD;
  border: #007D9C solid 2px;
}

/* card section */

.pack-image {
  width: 20px;
}
.pack-box a{
  margin: 5px;
  width: max-content;
  border: #dbdbdb solid 1px;
  color: #037E9D;
  font-size: 11px;
  text-decoration: none;
}
.card-box {
  width: 22rem;
  height: 27rem;
  background-color: #F8F8F8;
}

.learn-more a{
  text-decoration: none;
  color: #007D9C;
}
@media (max-width:1079px){
  .card-box{
    width: 45rem;
  }
}
@media (max-width:1367px) and (min-width:1080px){
  .card-box{
    width: 27rem;
  }
}

.card-last button {
  background-color: #007D9C;
}

 